<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="location">
      <div class="set-location__button"></div>
      <p class="set-location__city">Москва</p>
    </div>
    <div class="settings">
      Настройка
    </div>
  </header>
  <nav class="nav">
    <div class="nav-block">
      <div class="nav-block__mail">
        <p class="nav-block__mail-header">Почта</p>
        <a class="nav-block__mail-registration" href="">Завести почту</a>
      </div>
      <button class="nav-block__mail-log-in">Войти в почту</button>
      <a class="nav-block__link" href="">Получить Плюс</a>
    </div>
    <div class="nav-block">
      <h4 class="nav-block__header">Рекомендуем</h4>
      <div class="nav-block__header-icon nav-block__header-icon_number_one"></div>
      <img src="" alt="">
      <div class="nav-block__current-tvcontent">
        <div class="nav-block__current-tvcontent-logo"></div>
        <a class="nav-block__current-tvcontent-link" href="">Последняя встреча</a>
      </div>
      <p class="nav-block__current-chanel">Звезда</p>
    </div>
    <div class="nav-block" >
      <h4 class="nav-block__header">Нагатинский Затон</h4>
      <div class="nav-block__header-icon nav-block__header-icon_number_two"></div>
      <img src="" alt="">
      <p class="nav-block__local-news">Ходил сегодня в Коломен- ское. Там видно как Москва-река сильно обме- лела. Кто-нибудь может...</p>
      <div class="nav-block-footer _third-container">
        <div class="nav-block__user">
          <img class="nav-block__user-logo" src="https://avatars.mds.yandex.net/get-yapic/53031/127612694-1567803830/islands-200" width="18px" height="18px" style="border-radius: 50% 50%" alt="">
          <p class="nav-block__user-nickname">mrmikhail1</p>
        </div>
        <div class="nav-block__message">
          <div class="nav-block__message-icon"></div>
          <span class="nav-block__message-responds">15</span>
        </div>
      </div>
    </div>
  </nav>
  <section class="news">
    <div class="news-header">
      <h3 class="news-header__current">Сейчас в СМИ</h3>
      <h3 class="news-header__local">в Москве</h3>
      <p class="news-header__current-time">4 апреля, четверг 17 52</p>
    </div>
    <div class="news-content">
      <div class="news-content-item">
          <div class="news-content-item__logo1"></div>
          <p class="news-content-item__headline">Односельчанам Кадырова приказали разобрать свои дома и переехать</p>
      </div>
      <div class="news-content-item">
          <div class="news-content-item__logo2 _primary"></div>
          <p class="news-content-item__headline">Европарламент одобрил поправки к Газовой директиве ЕС</p>
      </div>
      <div class="news-content-item">
          <div class="news-content-item__logo3"></div>
          <p class="news-content-item__headline">Слова генсека НАТО о Гитлере, Сталине и ИГ вызвали реакцию в МИД РФ</p>
      </div>
      <div class="news-content-item">
          <div class="news-content-item__logo4"></div>
          <p class="news-content-item__headline">Скончался режиссер Георгий Данелия</p>
      </div>
      <div class="news-content-item">
          <div class="news-content-item__logo5"></div>
          <p class="news-content-item__headline">Польский генерал пообещал ядерный удар по России в случае нападения</p>
      </div>

    </div>
    <div class="news-currency">
      <div class="news-currency__component">
          <h4 class="news-currency__component-name">Usd moex</h4>
          <p class="news-currency__component-value">65,56</p>
          <span class="news-currency__component-growth">+0,32</span>
      </div>
      <div class="news-currency__component">
          <h4 class="news-currency__component-name">Eur moex</h4>
          <p class="news-currency__component-value">73,53</p>
          <span class="news-currency__component-growth">+0,24</span>
      </div>
      
      <div class="news-currency__component">
          <h4 class="news-currency__component-name">Нефть</h4>
          <p class="news-currency__component-value">69,36</p>
          <span class="news-currency__component-growth">+0,09%</span>
      </div>
      <img src="//yastatic.net/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="...">

    </div>
  </section>
  <section class="search">
    <div class="menu">
      <a class="menu__unit" href="">Видео</a>
      <a class="menu__unit" href="">Картинки</a>
      <a class="menu__unit" href="">Новости</a>
      <a class="menu__unit" href="">Карты</a>
      <a class="menu__unit" href="">Маркет</a>
      <a class="menu__unit" href="">Переводчик</a>
      <a class="menu__unit" href="">Музыка</a>
      <a class="menu__unit" href="">Эфир</a>
      <a class="menu__unit" href="">ещё</a>
    </div>
    <div class="search-string">
      <a href="">
        <div class="logo"></div>
      </a>
      <div class="search-window">
        <form action="">
          <input type="text">
          <button>Найти</button>
        </form>
      </div>

    </div>
    <div class="search-footer">
      <div class="search-footer__example">
        <p class="search-footer__example-text">Найдется всё. Например, </p>
        <a href="">сколько калорий в банане</a>
      </div>
      <div class="search__footer-info">
        <img src="https://avatars.mds.yandex.net/get-banana/26007/x25Cg4cNaSSaxxYhof47XJYvt_banana_20161021_60-36-bro-link-morda-update-7.png/optimize" width="30px" height="18px" alt="">
        <span>Яндекс.Браузер бережёт пароли</span>
      </div>
    </div>
  </section>
  <section class="advertisment">
    <a href="" class="advertisment-link">
      <div class="avertisment-link-container"></div>
    </a>
  </section>
  <section class="widgets">
    <div class="widget">
      <a class="widget-link" href="">
        <h2 class="widget__title">Погода</h2>
      </a>
      <div class="widget-content">
        <div class="widget-content__logo widget-content__logo_number_one"></div>
        <span class="widget-content__temp-now">+8°</span>
        <div class="widget-content__temp">
          <p class="widget-content__temp-evening">Вечером +6,</p>
          <p class="widget-content__temp-night">ночью +1</p>
        </div>
      </div>
    </div>
    <div class="widget">
      <a class="widget-link" href="">
        <h2 class="widget__title">Пробки</h2>
      </a>
      <div class="widget-content">
          <div class="widget-content__logo widget-content__logo_number_two"></div>
          <span class="widget-content__traffic-now">7</span>
          <div class="widget-content-traffic__value">
            <div class="widget-content-traffic__value-icon widget-content-traffic__value-icon_number_one">7</div>
            <div class="widget-content-traffic__value-icon widget-content-traffic__value-icon_number_two">7</div>
            <div class="widget-content-traffic__value-icon widget-content-traffic__value-icon_number_three">6</div>
            <div class="widget-content-traffic__value-icon widget-content-traffic__value-icon_number_four">4</div>
          </div>
      </div>
    </div>
    <div class="widget">
      <a class="widget-link" href="">
        <h2 class="widget__title">Карта Москвы</h2>
      </a>
      <div class="widget-content">
        <div class="widget-content-social">
          <a class="widget-content-social__block"  href=''>Метро</a>
          <a class="widget-content-social__block" href=''>Такси</a>
          <a class="widget-content-social__block" href=''>Расписания</a>
          <a class="widget-content-social__block" href=''>Сообщество соседей</a>
        </div>
      </div>
    </div>
    <div class="widget">
      <a class="widget-link" href="">
        <h2 class="widget__title">Посещаемое</h2>
      </a>
      <div class="widget-content">
        <a href="" class="widget-content__service">
          <p class="widget-content__service-name">
            <span class="widget-content__service-name_weight_bold">Авто.ру</span>
            − подборка топовых авто
          </p>
        </a>
        <a href="" class="widget-content__service">
          <p class="widget-content__service-name">
            <span class="widget-content__service-name_weight_bold">Недвижимость</span>
            − о договоре ренты
          </p>
        </a>
        <a href="" class="widget-content__service">
          <p class="widget-content__service-name">
            <span class="widget-content__service-name_weight_bold">Формы</span>
            − создавайте опросы
          </p>
        </a>
      </div>
    </div>
    <div class="widget">
      <a class="widget-link" href="">
        <h2 class="widget__title">Телепрограмма</h2>
      </a>
      <a class="widget__button" href="">
        <span class="widget__button-content">
          <span class="widget__button-content-image"></span>
          Эфир
        </span>
      </a>
      <div class="widget-content">
        <div class="widget-content__tvprogram">
          <p class="widget-content__tvprogram-time">17:35</p>
          <span class="widget-content__tvprogram-name">Вести</span>
          <a class="widget-content__tvprogram-chanel" href="">Россия-24</a>
        </div>
        <div class="widget-content__tvprogram">
          <p class="widget-content__tvprogram-time">17:35</p>
          <span class="widget-content__tvprogram-name">Слепая</span>
          <a class="widget-content__tvprogram-chanel" href="">ТВ-3</a>
        </div>
        <div class="widget-content__tvprogram">
          <p class="widget-content__tvprogram-time">17:45</p>
          <span class="widget-content__tvprogram-name">Медосмотр</span>
          <a class="widget-content__tvprogram-chanel" href="">ОТР</a>
        </div>
      </div>
    </div>
    <div class="widget">
      <a class="widget-link" href="">
        <h2 class="widget__title">Сейчас в эфире</h2>
      </a>
      <div class="widget-content">
        <div class="widget-content__broadcast">
          <span class="widget-content__broadcast-icon"></span>
          <a class="widget-content__broadcast-name" href="">Полуфинал Кубка Франции.Сезон...<br/></a>
          <span class="widget-content__broadcast-chanel"><a href="">Футбол</a></span>
        </div>
        <div class="widget-content__broadcast">
          <span class="widget-content__broadcast-icon"></span>          
          <a class="widget-content__broadcast-name" href="">День. Главные темы</a>
          <span class="widget-content__broadcast-chanel"><a href="">РБК</a></span>
        </div>
        <div class="widget-content__broadcast">
          <span class="widget-content__broadcast-icon"></span>
          <a class="widget-content__broadcast-name" href="">Мастер путешествий</a>
          <span class="widget-content__broadcast-chanel"><a href="">Ocean TV</a></span>
        </div>
      </div>
    </div>
  </section>
  <section class="posters">
    <div class="posters-container">
      <h1 class="posters__header">Афиша</h1>
      <div class="posters__entertainment">
          <span class="posters__entertainment-button _black-background">Кино</span>
          <span class="posters__entertainment-button">Концерты</span>
          <span class="posters__entertainment-button">Театр</span>
      </div>
      <div class="posters-wrapper">
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Шазам!</span>
          <p class="poster__movie-genre">фэнтези</p>
        </div>
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Хеллбой</span>
          <p class="poster__movie-genre">фантастика</p>
        </div>
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Домовой</span>
          <p class="poster__movie-genre">семейное кино</p>
        </div>
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Кладбище домаш- них животных</span>
          <p class="poster__movie-genre">ужасы</p>
        </div>
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Дамбо</span>
          <p class="poster__movie-genre">фэнтези</p>
        </div>
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Потерянное звено</span>
          <p class="poster__movie-genre">мультфильм</p>
        </div>
        <div class="poster-box">
          <span class="poster__moovie"></span>
          <span class="poster__title">Миа и белый лев</span>
          <p class="poster__movie-genre">драма</p>
        </div>
      </div>
    </div>
    <div class="white-cover">
    </div>
    <div class="carousel-switcher-right"></div>
  </section>
</body>
</html>